<div class="row">
    <div class="col-sm-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <span class="badge" style="background-color: #3b866a; color: rgb(255, 255, 255);">Home</span>

                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    <span class="badge" style="background-color: #853f65; color: rgb(255, 255, 255);">Inicio</span>

                </li>
            </ol>
        </nav>
    </div>

    <div class="col-md-12" style="text-align: center;">
        <h1>Bienvenido a Cathulu Store</h1>        
    </div>
    
    
    <div id="container1">
        <p style="color: black;"> Mi propuesta de proyecto trata sobre una aplicación web la cual sirve para gestionar una tienda y su personal. En este caso una tienda de juegos de mesa, la cual cuenta 
        con las múltiples competencias enseñadas en el curso, además de algunas que fueron agregadas por mi cuenta.</p>
    </div>                        



    <div id="container1">
        <p style="color: black;"> La página presenta un menú lateral el cual muestra todas las propuestas que idee para la aplicación web. Entre estas funcionalidades se encuentran:
            Gestión del personal de la tienda, ver los juegos de mesa que vende la tienda, redirección a página en caso de encontrarse con una página inexistente.</p>
    </div>                        



    <div id="container1">
        <p style="color: black;"> Para realizar lo anteriormente mencionado, utilicé dos API's. La primera API es usada para poder obtener los juegos de mesa de la página. Esta fué sacada desde la página
            Boardgameatlas. La segunda API es la proporcionada por usted en clases, la cual se utiliza para manejar al personal de la tienda.</p>
    </div>              
    
    <div class="col-md-6">
        <div class="wrimagecard wrimagecard-topimage">
            <a href="#">
                <div class="wrimagecard-topimage_header" style="background-color:rgba(187, 120, 36, 0.1) ">
                    <i class="fa fa-users" style="color:#BB7824"></i>
                </div>
                <div class="wrimagecard-topimage_title">
                    <h4>Total personal
                        <div class="pull-right badge">{{usuarios}}</div>
                    </h4>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="wrimagecard wrimagecard-topimage">
            <a href="#">
                <div class="wrimagecard-topimage_header" style="background-color: rgba(22, 160, 133, 0.1)">
                    <i class="fa fa-shopping-cart" style="color:#16A085"></i>
                </div>
                <div class="wrimagecard-topimage_title">
                    <h4>Total juegos de mesa (distintos)
                        <div class="pull-right badge" id="WrControls">100</div>
                    </h4>
                </div>
            </a>
        </div>
    </div>
</div>